In [1]:
import sys
sys.path.append('..')
from MPRA_predict.utils import *
os.chdir('../data/SirajMPRA')

from Bio import pairwise2
from Bio.pairwise2 import format_alignment, align

In [2]:
df4 = pd.read_excel('supp/media-4.xlsx')
df4

,Supplementary Table 3 | MPRA Results; best measurement across libraries (by Plasmid coverage across variants) chosen per variant per cell type,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50,Unnamed: 51,Unnamed: 52,Unnamed: 53,Unnamed: 54,Unnamed: 55,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65,Unnamed: 66,Unnamed: 67,Unnamed: 68,Unnamed: 69,Unnamed: 70,Unnamed: 71,Unnamed: 72,Unnamed: 73,Unnamed: 74,Unnamed: 75,Unnamed: 76,Unnamed: 77
0,variant,active.any,emVar.any,allele1.log2FC_A549,allele1.log2FC_HEPG2,allele1.log2FC_K562,allele1.log2FC_SKNSH,allele1.log2FC_HCT116,allele1.log2FC.SE_A549,allele1.log2FC.SE_HEPG2,allele1.log2FC.SE_K562,allele1.log2FC.SE_SKNSH,allele1.log2FC.SE_HCT116,allele2.log2FC_A549,allele2.log2FC_HEPG2,allele2.log2FC_K562,allele2.log2FC_SKNSH,allele2.log2FC_HCT116,allele2.log2FC.SE_A549,allele2.log2FC.SE_HEPG2,allele2.log2FC.SE_K562,allele2.log2FC.SE_SKNSH,allele2.log2FC.SE_HCT116,log2FC_A549,log2FC_HEPG2,log2FC_K562,log2FC_SKNSH,log2FC_HCT116,active_A549,active_HEPG2,active_K562,active_SKNSH,active_HCT116,log2FC.logPadj_A549,log2FC.logPadj_HEPG2,log2FC.logPadj_K562,log2FC.logPadj_SKNSH,log2FC.logPadj_HCT116,log2Skew_A549,log2Skew_HEPG2,log2Skew_K562,log2Skew_SKNSH,log2Skew_HCT116,emVar_A549,emVar_HEPG2,emVar_K562,emVar_SKNSH,emVar_HCT116,log2Skew.SE_A549,log2Skew.SE_HEPG2,log2Skew.SE_K562,log2Skew.SE_SKNSH,log2Skew.SE_HCT116,log2Skew.FDR_A549,log2Skew.FDR_HEPG2,log2Skew.FDR_K562,log2Skew.FDR_SKNSH,log2Skew.FDR_HCT116,mean_Plasmid_ref_A549,mean_Plasmid_ref_HEPG2,mean_Plasmid_ref_K562,mean_Plasmid_ref_SKNSH,mean_Plasmid_ref_HCT116,mean_Plasmid_alt_A549,mean_Plasmid_alt_HEPG2,mean_Plasmid_alt_K562,mean_Plasmid_alt_SKNSH,mean_Plasmid_alt_HCT116,mean_RNA_ref_A549,mean_RNA_ref_HEPG2,mean_RNA_ref_K562,mean_RNA_ref_SKNSH,mean_RNA_ref_HCT116,mean_RNA_alt_A549,mean_RNA_alt_HEPG2,mean_RNA_alt_K562,mean_RNA_alt_SKNSH,mean_RNA_alt_HCT116
1,chr10:100025816:G:A,True,False,NaN,1.624,2.045,1.222,1.281,NaN,0.156,0.185,0.360,0.230,NaN,1.649,1.950,1.808,1.162,NaN,0.151,0.183,0.185,0.152,NaN,1.649,2.045,1.808,1.281,NaN,True,True,True,True,NaN,21.923,22.141,16.671,8.601,NaN,0.021,-0.095,0.724,-0.047,NaN,False,False,False,False,NaN,0.196,0.196,0.439,0.234,NaN,0.010,0.063,0.424,0.019,NaN,242.800,290.800,242.800,242.800,NaN,378.400,417.600,378.400,378.400,NaN,453,593.167,305.400,459,NaN,719.600,796,599.400,656.200
2,chr10:100029561:C:T,True,True,NaN,3.391,0.296,3.403,2.163,NaN,0.089,0.153,0.128,0.095,NaN,2.610,0.443,2.652,1.620,NaN,0.096,0.178,0.165,0.090,NaN,3.391,0.443,3.403,2.163,NaN,True,False,True,True,NaN,301.853,0,150.967,108.402,NaN,-0.784,0.162,-0.770,-0.535,NaN,True,False,True,True,NaN,0.089,0.228,0.149,0.108,NaN,15.730,0.106,5.088,4.439,NaN,1023,1091.400,1023,1023,NaN,600.800,660,600.800,600.800,NaN,6677.200,665.167,5250,3554.400,NaN,2298.800,439.333,1873.800,1458.400
3,chr10:100098716:G:T,True,True,NaN,1.174,0.853,1.284,1.000,NaN,0.071,0.113,0.066,0.081,NaN,1.064,0.749,1.689,0.928,NaN,0.067,0.208,0.091,0.106,NaN,1.174,0.853,1.689,1.000,NaN,True,False,True,True,NaN,54.934,7.990,77.585,29.409,NaN,-0.095,-0.168,0.413,-0.064,NaN,False,False,True,False,NaN,0.112,0.170,0.138,0.138,NaN,0.133,0.172,1.463,0.047,NaN,1664,1276.800,1389.600,1664,NaN,652,448.800,482.200,652,NaN,3417.400,1131.667,2423,2850,NaN,1243.400,374.333,1114.200,1060.400
4,chr10:100109592:T:C,False,False,NaN,-0.007,0.302,0.592,-0.033,NaN,0.140,0.210,0.182,0.138,NaN,0.266,0.059,0.884,0.054,NaN,0.127,0.142,0.145,0.115,NaN,0.266,0.302,0.884,0.054,NaN,False,False,False,False,NaN,0,0,3.898,0,NaN,0.268,-0.245,0.300,0.089,NaN,False,False,False,False,NaN,0.141,0.221,0.183,0.169,NaN,0.565,0.207,0.419,0.059,NaN,919.200,1010,919.200,919.200,NaN,940,1022.400,940,940,NaN,564.600,601.667,643.400,718.600,NaN,695.200,522.500,802.600,754
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
304274,chrX:99995091:A:G,False,False,NaN,0.171,0.418,-0.541,0.296,NaN,0.136,0.212,0.279,0.113,NaN,-0.189,0.694,-0.373,0.204,NaN,0.220,0.221,0.390,0.200,NaN,-0.189,0.694,-0.541,0.296,NaN,False,False,False,False,NaN,0,0,0,0,NaN,-0.364,0.229,0.156,-0.108,NaN,False,False,False,False,NaN,0.219,0.259,0.250,0.216,NaN,0.432,0.146,0.092,0.055,NaN,825.600,593,825.600,825.600,NaN,369.200,289,369.200,369.200,NaN,576.200,390.167,281,794,NaN,211.600,226,140.200,320.400
304275,chrX:99995933:C:G,False,False,NaN,0.434,0.238,0.369,-0.133,NaN,0.064,0.191,0.109,0.101,NaN,0.402,-0.325,0.395,0.076,NaN,0.056,0.139,0.088,0.093,NaN,0.434,-0.325,0.395,-0.133,NaN,False,False,False,False,NaN,7.007,0,0.055,0,NaN,-0.032,-0.582,0.027,0.206,NaN,False,False,False,False,NaN,0.105,0.170,0.112,0.129,NaN,0.034,1.979,0.027,0.326,NaN,1233.800,970.400,961.600,1233.800,NaN,1534.600,1680,1482.200,1534.600,NaN,1524.600,562.667,884.200,948.600,NaN,1853.800,657.833,1382.600,1364.200
304276,chrX:99996102:A:G,False,False,NaN,0.094,0.311,0.070,0.048,NaN,0.061,0.147,0.121,0.079,NaN,0.174,0.108,-0.040,0.019,NaN,0.058,0.136,0.094,0.080,NaN,0.174,0.311,0.070,0.048,NaN,False,False,False,False,NaN,0,0,0,0,NaN,0.082,-0.254,-0.097,-0.028,NaN,False,False,False,False,NaN,0.080,0.155,0.130,0.098,NaN,0.181,0.410,0.114,0.026,NaN,1916.600,1564.600,1567.800,1916.600,NaN,1885.600,1703.400,1621.800,1885.600,NaN,1862,953.333,1182,1679.400,NaN,1936,908.167,1137.800,1626.600
304277,chrX:99998829:C:T,False,False,NaN,-0.497,0.125,0.012,-0.356,NaN,0.133,0.394,0.246,0.179,NaN,-0.200,0.232,-0.199,0.298,NaN,0.132,0.348,0.190,0.150,NaN,-0.497,0.232,-0.199,-0.356,NaN,False,False,False,False,NaN,0,0,0,0,NaN,0.296,0.204,-0.180,0.661,NaN,False,False,False,False,NaN,0.185,0.426,0.273,0.227,NaN,0.390,0.062,0.096,1.211,NaN,399.600,228.800,283.800,399.600,NaN,387,202,325.800,387,NaN,259.800,123.667,207.400,265,NaN,306.400,118.167,206.800,402.600
304278,chrX:99999349:G:A,False,False,NaN,-0.078,0.013,-0.170,0.143,NaN,0.058,0.133,0.129,0.089,NaN,0.143,-0.223,-0.242,0.482,NaN,0.064,0.185,0.122,0.082,NaN,0.143,-0.223,-0.242,0.482,NaN,False,False,False,False,NaN,0,0,0,3.330,NaN,0.220,-0.232,-0.058,0.343,NaN,False,False,False,False,NaN,0.100,0.186,0.156,0.129,NaN,0.722,0.253,0.046,0.984,NaN,1808,1521.200,1412.400,1808,NaN,1127,1220.800,1027.200,1127,NaN,1561.200,737.167,911.400,1702,NaN,1136,508.167,629.400,1341

In [ ]:
df4.columns = df4.iloc[0]
df4 = df4.iloc[1:].reset_index(drop=True)
df4 = df4.rename(columns={'variant': 'Variant'})
df4

In [ ]:
df4.columns

In [ ]:
df4['active_HEPG2']

In [ ]:
a = df4['allele1.log2FC_HEPG2'].astype(float)
b = df4['allele2.log2FC_HEPG2'].astype(float)
print(pearson(a, b))

a = df4['allele1.log2FC_HEPG2'].astype(float)
b = df4['log2FC_HEPG2'].astype(float)
print(pearson(a, b))

a = df4['allele2.log2FC_HEPG2'].astype(float)
b = df4['log2FC_HEPG2'].astype(float)
print(pearson(a, b))

a = df4['allele1.log2FC_HEPG2'].astype(float) + df4['allele2.log2FC_HEPG2'].astype(float)
b = df4['log2FC_HEPG2'].astype(float)
print(pearson(a, b))

In [ ]:
a = np.log2(df4['mean_RNA_ref_HEPG2'].astype(float) / df4['mean_Plasmid_ref_HEPG2'].astype(float))
b = df4['allele1.log2FC_HEPG2'].astype(float)
print(pearson(a, b))

a = np.log2(df4['mean_RNA_ref_HEPG2'].astype(float) / df4['mean_Plasmid_ref_HEPG2'].astype(float))
b = df4['allele2.log2FC_HEPG2'].astype(float)
print(pearson(a, b))


a = np.log2(df4['mean_RNA_alt_HEPG2'].astype(float) / df4['mean_Plasmid_alt_HEPG2'].astype(float))
b = df4['allele1.log2FC_HEPG2'].astype(float)
print(pearson(a, b))

a = np.log2(df4['mean_RNA_alt_HEPG2'].astype(float) / df4['mean_Plasmid_alt_HEPG2'].astype(float))
b = df4['allele2.log2FC_HEPG2'].astype(float)
print(pearson(a, b))

In [ ]:
a = np.log2((df4['mean_RNA_ref_K562'] / df4['mean_Plasmid_ref_K562']).astype(float))
b = df4['allele1.log2FC_K562'].astype(float)
print(pearson(a, b))

a = np.log2((df4['mean_RNA_ref_K562'] / df4['mean_Plasmid_ref_K562']).astype(float))
b = df4['allele2.log2FC_K562'].astype(float)
print(pearson(a, b))

a = np.log2((df4['mean_RNA_ref_K562'] / df4['mean_Plasmid_ref_K562']).astype(float))
b = df4['log2FC_K562'].astype(float)
print(pearson(a, b))

In [ ]:
df3 = pd.read_excel('supp/media-3.xlsx')
df3

In [ ]:
df3.columns = df3.iloc[0]
df3 = df3.iloc[1:]
df3

In [ ]:
merged_df = pd.merge(df4, df3, on='Variant', how='inner')
merged_df

In [ ]:
merged_df.to_csv("SirajMPRA_raw.csv", index=False)

In [11]:
df = pd.read_csv('SirajMPRA_raw.csv')
df

/tmp/ipykernel_52321/870680743.py:1: DtypeWarning: Columns (28,43) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('SirajMPRA_raw.csv')

,Variant,active.any,emVar.any,allele1.log2FC_A549,allele1.log2FC_HEPG2,allele1.log2FC_K562,allele1.log2FC_SKNSH,allele1.log2FC_HCT116,allele1.log2FC.SE_A549,allele1.log2FC.SE_HEPG2,...,mean_RNA_ref_K562,mean_RNA_ref_SKNSH,mean_RNA_ref_HCT116,mean_RNA_alt_A549,mean_RNA_alt_HEPG2,mean_RNA_alt_K562,mean_RNA_alt_SKNSH,mean_RNA_alt_HCT116,Allele 1 Oligo,Allele 2 Oligo
0,chr10:100025816:G:A,True,False,NaN,1.623685,2.044789,1.222370,1.280575,NaN,0.155521,...,593.166667,305.4,459.0,NaN,719.6,796.000000,599.4,656.2,TCTGACCCCTCCCACGCTTCCTTTCCAGACTGAAACACTGTCTTCT...,TCTGACCCCTCCCACGCTTCCTTTCCAGACTGAAACACTGTCTTCT...
1,chr10:100029561:C:T,True,True,NaN,3.390524,0.296395,3.402503,2.162766,NaN,0.088808,...,665.166667,5250.0,3554.4,NaN,2298.8,439.333333,1873.8,1458.4,GCAACACAGAGGGTTCGGAAACGTGGGCTCTGCCTGCTGCCAATCA...,GCAACACAGAGGGTTCGGAAACGTGGGCTCTGCCTGCTGCCAATCA...
2,chr10:100098716:G:T,True,True,NaN,1.174309,0.853279,1.283911,1.000218,NaN,0.071422,...,1131.666667,2423.0,2850.0,NaN,1243.4,374.333333,1114.2,1060.4,CCCCCAGCAAACACGGATCTGCTCTCTGTCACTATCGATTAGCTTG...,CCCCCAGCAAACACGGATCTGCTCTCTGTCACTATCGATTAGCTTG...
3,chr10:100109592:T:C,False,False,NaN,-0.007378,0.301644,0.592409,-0.033290,NaN,0.139805,...,601.666667,643.4,718.6,NaN,695.2,522.500000,802.6,754.0,GATCTCAGGCATCCTCACTTCGTGCCGAGAGGAGGCTCTTAAACAT...,GATCTCAGGCATCCTCACTTCGTGCCGAGAGGAGGCTCTTAAACAT...
4,chr10:100141027:T:C,False,False,NaN,-0.238128,-0.003550,-0.288184,0.041701,NaN,0.076976,...,361.666667,417.0,731.2,NaN,627.8,374.666667,333.2,660.4,CTCCTTTACAGGGAACATTTGCCTGGAGAACAGCTGCACCCTTGTG...,CTCCTTTACAGGGAACATTTGCCTGGAGAACAGCTGCACCCTTGTG...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
304273,chrX:99995091:A:G,False,False,NaN,0.171016,0.418440,-0.541239,0.296166,NaN,0.136126,...,390.166667,281.0,794.0,NaN,211.6,226.000000,140.2,320.4,TAATTTATTCAGGAAAAATCTGAGGTCACTAACATTTACTAGTGCT...,TAATTTATTCAGGAAAAATCTGAGGTCACTAACATTTACTAGTGCT...
304274,chrX:99995933:C:G,False,False,NaN,0.433557,0.237610,0.368939,-0.133435,NaN,0.064148,...,562.666667,884.2,948.6,NaN,1853.8,657.833333,1382.6,1364.2,AGAGAGACTGACATCTCACTCCCAGGCTGGAGGCTTGCTGCACTAC...,AGAGAGACTGACATCTCACTCCCAGGCTGGAGGCTTGCTGCACTAC...
304275,chrX:99996102:A:G,False,False,NaN,0.094050,0.310849,0.070434,0.048445,NaN,0.060897,...,953.333333,1182.0,1679.4,NaN,1936.0,908.166667,1137.8,1626.6,AAGCCTGGTTTAAATTGCTCATAATGGCAGAGCAAAGAAAGAGATC...,AAGCCTGGTTTAAATTGCTCATAATGGCAGAGCAAAGAAAGAGATC...
304276,chrX:99998829:C:T,False,False,NaN,-0.496841,0.125072,0.011764,-0.355709,NaN,0.132722,...,123.666667,207.4,265.0,NaN,306.4,118.166667,206.8,402.6,TTATTATCTCCACTTTACAGATGAGAAAACTGTGGCTCAGATAAGT...,TTATTATCTCCACTTTACAGATGAGAAAACTGTGGCTCAGATAAGT...
304277,chrX:99999349:G:A,False,False,NaN,-0.077544,0.012644,-0.169617,0.142693,NaN,0.057932,...,737.166667,911.4,1702.0,NaN,1136.0,508.166667,629.4,1341.0,AGCTAGAGTGCAGTGGCGCGATCTCGGCTCACTGAAAACTCCTCCT...,AGCTAGAGTGCAGTGGCGCGATCTCGGCTCACTGAAAACTCCTCCT...

In [12]:
# åªä¿ç•™refå’Œaltéƒ½len=200çš„æ ·æœ¬

df = df[(df['Allele 1 Oligo'].str.len() == 200) & (df['Allele 2 Oligo'].str.len() == 200)]
df = df.reset_index(drop=True)
df

,Variant,active.any,emVar.any,allele1.log2FC_A549,allele1.log2FC_HEPG2,allele1.log2FC_K562,allele1.log2FC_SKNSH,allele1.log2FC_HCT116,allele1.log2FC.SE_A549,allele1.log2FC.SE_HEPG2,...,mean_RNA_ref_K562,mean_RNA_ref_SKNSH,mean_RNA_ref_HCT116,mean_RNA_alt_A549,mean_RNA_alt_HEPG2,mean_RNA_alt_K562,mean_RNA_alt_SKNSH,mean_RNA_alt_HCT116,Allele 1 Oligo,Allele 2 Oligo
0,chr10:100025816:G:A,True,False,NaN,1.623685,2.044789,1.222370,1.280575,NaN,0.155521,...,593.166667,305.4,459.0,NaN,719.6,796.000000,599.4,656.2,TCTGACCCCTCCCACGCTTCCTTTCCAGACTGAAACACTGTCTTCT...,TCTGACCCCTCCCACGCTTCCTTTCCAGACTGAAACACTGTCTTCT...
1,chr10:100029561:C:T,True,True,NaN,3.390524,0.296395,3.402503,2.162766,NaN,0.088808,...,665.166667,5250.0,3554.4,NaN,2298.8,439.333333,1873.8,1458.4,GCAACACAGAGGGTTCGGAAACGTGGGCTCTGCCTGCTGCCAATCA...,GCAACACAGAGGGTTCGGAAACGTGGGCTCTGCCTGCTGCCAATCA...
2,chr10:100098716:G:T,True,True,NaN,1.174309,0.853279,1.283911,1.000218,NaN,0.071422,...,1131.666667,2423.0,2850.0,NaN,1243.4,374.333333,1114.2,1060.4,CCCCCAGCAAACACGGATCTGCTCTCTGTCACTATCGATTAGCTTG...,CCCCCAGCAAACACGGATCTGCTCTCTGTCACTATCGATTAGCTTG...
3,chr10:100109592:T:C,False,False,NaN,-0.007378,0.301644,0.592409,-0.033290,NaN,0.139805,...,601.666667,643.4,718.6,NaN,695.2,522.500000,802.6,754.0,GATCTCAGGCATCCTCACTTCGTGCCGAGAGGAGGCTCTTAAACAT...,GATCTCAGGCATCCTCACTTCGTGCCGAGAGGAGGCTCTTAAACAT...
4,chr10:100141027:T:C,False,False,NaN,-0.238128,-0.003550,-0.288184,0.041701,NaN,0.076976,...,361.666667,417.0,731.2,NaN,627.8,374.666667,333.2,660.4,CTCCTTTACAGGGAACATTTGCCTGGAGAACAGCTGCACCCTTGTG...,CTCCTTTACAGGGAACATTTGCCTGGAGAACAGCTGCACCCTTGTG...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
281322,chrX:99995091:A:G,False,False,NaN,0.171016,0.418440,-0.541239,0.296166,NaN,0.136126,...,390.166667,281.0,794.0,NaN,211.6,226.000000,140.2,320.4,TAATTTATTCAGGAAAAATCTGAGGTCACTAACATTTACTAGTGCT...,TAATTTATTCAGGAAAAATCTGAGGTCACTAACATTTACTAGTGCT...
281323,chrX:99995933:C:G,False,False,NaN,0.433557,0.237610,0.368939,-0.133435,NaN,0.064148,...,562.666667,884.2,948.6,NaN,1853.8,657.833333,1382.6,1364.2,AGAGAGACTGACATCTCACTCCCAGGCTGGAGGCTTGCTGCACTAC...,AGAGAGACTGACATCTCACTCCCAGGCTGGAGGCTTGCTGCACTAC...
281324,chrX:99996102:A:G,False,False,NaN,0.094050,0.310849,0.070434,0.048445,NaN,0.060897,...,953.333333,1182.0,1679.4,NaN,1936.0,908.166667,1137.8,1626.6,AAGCCTGGTTTAAATTGCTCATAATGGCAGAGCAAAGAAAGAGATC...,AAGCCTGGTTTAAATTGCTCATAATGGCAGAGCAAAGAAAGAGATC...
281325,chrX:99998829:C:T,False,False,NaN,-0.496841,0.125072,0.011764,-0.355709,NaN,0.132722,...,123.666667,207.4,265.0,NaN,306.4,118.166667,206.8,402.6,TTATTATCTCCACTTTACAGATGAGAAAACTGTGGCTCAGATAAGT...,TTATTATCTCCACTTTACAGATGAGAAAACTGTGGCTCAGATAAGT...
281326,chrX:99999349:G:A,False,False,NaN,-0.077544,0.012644,-0.169617,0.142693,NaN,0.057932,...,737.166667,911.4,1702.0,NaN,1136.0,508.166667,629.4,1341.0,AGCTAGAGTGCAGTGGCGCGATCTCGGCTCACTGAAAACTCCTCCT...,AGCTAGAGTGCAGTGGCGCGATCTCGGCTCACTGAAAACTCCTCCT...

In [13]:
df_allele_1 = df[['Variant', 'Allele 1 Oligo', 'allele1.log2FC_A549', 'allele1.log2FC_HEPG2', 'allele1.log2FC_K562', 'allele1.log2FC_SKNSH', 'allele1.log2FC_HCT116']]
df_allele_2 = df[['Variant', 'Allele 2 Oligo', 'allele2.log2FC_A549', 'allele2.log2FC_HEPG2', 'allele2.log2FC_K562', 'allele2.log2FC_SKNSH', 'allele2.log2FC_HCT116']]
df_allele_1['is_ref'] = True
df_allele_2['is_ref'] = False

df_allele_1 = df_allele_1.rename(columns={'Variant': 'description', 'Allele 1 Oligo': 'seq', 'allele1.log2FC_A549': 'A549', 'allele1.log2FC_HEPG2': 'HepG2', 'allele1.log2FC_K562': 'K562', 'allele1.log2FC_SKNSH': 'SK-N-SH', 'allele1.log2FC_HCT116': 'HCT116'})
df_allele_2 = df_allele_2.rename(columns={'Variant': 'description', 'Allele 2 Oligo': 'seq', 'allele2.log2FC_A549': 'A549', 'allele2.log2FC_HEPG2': 'HepG2', 'allele2.log2FC_K562': 'K562', 'allele2.log2FC_SKNSH': 'SK-N-SH', 'allele2.log2FC_HCT116': 'HCT116'})

df = pd.concat([df_allele_1, df_allele_2], axis=0)
df = df.reset_index(drop=True)
df

/tmp/ipykernel_52321/2878767420.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_allele_1['is_ref'] = True
/tmp/ipykernel_52321/2878767420.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_allele_2['is_ref'] = False

,description,seq,A549,HepG2,K562,SK-N-SH,HCT116,is_ref
0,chr10:100025816:G:A,TCTGACCCCTCCCACGCTTCCTTTCCAGACTGAAACACTGTCTTCT...,NaN,1.623685,2.044789,1.222370,1.280575,True
1,chr10:100029561:C:T,GCAACACAGAGGGTTCGGAAACGTGGGCTCTGCCTGCTGCCAATCA...,NaN,3.390524,0.296395,3.402503,2.162766,True
2,chr10:100098716:G:T,CCCCCAGCAAACACGGATCTGCTCTCTGTCACTATCGATTAGCTTG...,NaN,1.174309,0.853279,1.283911,1.000218,True
3,chr10:100109592:T:C,GATCTCAGGCATCCTCACTTCGTGCCGAGAGGAGGCTCTTAAACAT...,NaN,-0.007378,0.301644,0.592409,-0.033290,True
4,chr10:100141027:T:C,CTCCTTTACAGGGAACATTTGCCTGGAGAACAGCTGCACCCTTGTG...,NaN,-0.238128,-0.003550,-0.288184,0.041701,True
...,...,...,...,...,...,...,...,...
562649,chrX:99995091:A:G,TAATTTATTCAGGAAAAATCTGAGGTCACTAACATTTACTAGTGCT...,NaN,-0.188583,0.693828,-0.373362,0.203649,False
562650,chrX:99995933:C:G,AGAGAGACTGACATCTCACTCCCAGGCTGGAGGCTTGCTGCACTAC...,NaN,0.402471,-0.325169,0.395378,0.076269,False
562651,chrX:99996102:A:G,AAGCCTGGTTTAAATTGCTCATAATGGCAGAGCAAAGAAAGAGATC...,NaN,0.174034,0.108281,-0.039556,0.019372,False
562652,chrX:99998829:C:T,TTATTATCTCCACTTTACAGATGAGAAAACTGTGGCTCAGATAAGT...,NaN,-0.199757,0.231536,-0.198834,0.298371,False
562653,chrX:99999349:G:A,AGCTAGAGTGCAGTGGCGCGATCTCGGCTCACTGAAAACTCCTCCT...,NaN,0.142980,-0.222729,-0.242416,0.482251,False

In [14]:
df[['chr', 'pos', 'ref', 'alt']] = df['description'].str.split(':', expand=True)
df['pos'] = df['pos'].astype(int)
df['start'] = df['pos'] - 100
df['end'] = df['pos'] + 100
df = df.sort_values(by=['chr', 'pos']).reset_index(drop=True)
df

,description,seq,A549,HepG2,K562,SK-N-SH,HCT116,is_ref,chr,pos,ref,alt,start,end
0,chr1:14677:G:A,AGTGCTGGTTCCGTCACCCCCTCCCAAGGAAGTAGGTCTGAGCAGC...,NaN,0.667516,-0.704147,0.538641,0.159069,True,chr1,14677,G,A,14577,14777
1,chr1:14677:G:A,AGTGCTGGTTCCGTCACCCCCTCCCAAGGAAGTAGGTCTGAGCAGC...,NaN,0.415984,0.554099,0.441904,-0.288019,False,chr1,14677,G,A,14577,14777
2,chr1:63697:T:C,CATACATTTTTATTCTGGTCACTGTCCAACGACATTCCTCAAATGA...,NaN,1.269937,-0.391222,0.752052,1.100437,True,chr1,63697,T,C,63597,63797
3,chr1:63697:T:C,CATACATTTTTATTCTGGTCACTGTCCAACGACATTCCTCAAATGA...,NaN,1.151995,-0.659023,0.204721,1.050619,False,chr1,63697,T,C,63597,63797
4,chr1:64764:C:T,AATAGACTCTAGTACTCTGTATTATGCAAAATTTGTCTATGTTACA...,NaN,-0.211076,-0.007174,0.499376,0.257572,True,chr1,64764,C,T,64664,64864
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
562649,chrX:155233098:T:C,ATCATTTACTGGTGACTGCCCTGCTAGGGTGTCAGCTGTCAGATCC...,NaN,0.615976,1.927090,0.798263,1.035440,False,chrX,155233098,T,C,155232998,155233198
562650,chrX:155233794:A:G,TGGTTACTGCAGGGGCAGGGTTTTGGCAGGAAATAAACATGCACGG...,NaN,1.409758,0.556338,2.843295,1.495515,True,chrX,155233794,A,G,155233694,155233894
562651,chrX:155233794:A:G,TGGTTACTGCAGGGGCAGGGTTTTGGCAGGAAATAAACATGCACGG...,NaN,0.894634,-0.072647,1.973661,0.794848,False,chrX,155233794,A,G,155233694,155233894
562652,chrX:155234730:T:C,TGGTGAGTTGCTTCTGTGCACACACTTTTGTTTATGAGTGTGCATG...,NaN,0.312172,0.165634,-0.041383,0.444472,True,chrX,155234730,T,C,155234630,155234830
562653,chrX:155234730:T:C,TGGTGAGTTGCTTCTGTGCACACACTTTTGTTTATGAGTGTGCATG...,NaN,0.370818,0.009694,-0.035569,0.407723,False,chrX,155234730,T,C,155234630,155234830

In [15]:
df.to_csv("SirajMPRA_562654.csv", index=False)

In [16]:
df = pd.read_csv('SirajMPRA_raw.csv')
df

df_allele_1 = df[['Variant', 'Allele 1 Oligo', 'allele1.log2FC_A549', 'allele1.log2FC_HEPG2', 'allele1.log2FC_K562', 'allele1.log2FC_SKNSH', 'allele1.log2FC_HCT116']]
df_allele_2 = df[['Variant', 'Allele 2 Oligo', 'allele2.log2FC_A549', 'allele2.log2FC_HEPG2', 'allele2.log2FC_K562', 'allele2.log2FC_SKNSH', 'allele2.log2FC_HCT116']]
df_allele_1['is_ref'] = True
df_allele_2['is_ref'] = False

df_allele_1 = df_allele_1.rename(columns={'Variant': 'description', 'Allele 1 Oligo': 'seq', 'allele1.log2FC_A549': 'A549', 'allele1.log2FC_HEPG2': 'HepG2', 'allele1.log2FC_K562': 'K562', 'allele1.log2FC_SKNSH': 'SK-N-SH', 'allele1.log2FC_HCT116': 'HCT116'})
df_allele_2 = df_allele_2.rename(columns={'Variant': 'description', 'Allele 2 Oligo': 'seq', 'allele2.log2FC_A549': 'A549', 'allele2.log2FC_HEPG2': 'HepG2', 'allele2.log2FC_K562': 'K562', 'allele2.log2FC_SKNSH': 'SK-N-SH', 'allele2.log2FC_HCT116': 'HCT116'})

df = pd.concat([df_allele_1, df_allele_2], axis=0)
df = df.reset_index(drop=True)
df


df = df[(df['seq'].str.len() == 200)]
df = df.reset_index(drop=True)
df

df[['chr', 'pos', 'ref', 'alt']] = df['description'].str.split(':', expand=True)
df['pos'] = df['pos'].astype(int)
df['start'] = df['pos'] - 100
df['end'] = df['pos'] + 100
df = df.sort_values(by=['chr', 'pos']).reset_index(drop=True)
df

df.to_csv("SirajMPRA_585605.csv", index=False)

/tmp/ipykernel_52321/1683525585.py:1: DtypeWarning: Columns (28,43) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('SirajMPRA_raw.csv')
/tmp/ipykernel_52321/1683525585.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_allele_1['is_ref'] = True
/tmp/ipykernel_52321/1683525585.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_allele_2['is_ref'] = False

In [17]:
A = pd.read_csv('SirajMPRA_585605.csv')
print(A.shape)

B = pd.read_csv('SirajMPRA_562654.csv')
print(B.shape)

merged = B.merge(A[['seq']], on='seq', how='left', indicator=True)

# èŽ·å– A ä¸­çš„ç´¢å¼•
B_indices_in_A = A[A['seq'].isin(B['seq'])].index

# æ·»åŠ åˆ° B
B['585605_index'] = B['seq'].map(dict(zip(A['seq'], A.index)))

B

B.to_csv('SirajMPRA_562654.csv', index=False)

(585605, 14)
(562654, 14)

In [ ]:
info, seq1, seq2 = df.iloc[15]

print(info)
print(seq1)
print(seq2)

from pyfaidx import Fasta
genome = Fasta('/home/hxcai/genome/hg19.fa')
seq3 = genome['chr1'][1004389-100: 1004389+100].seq.upper()

print(seq3)
print(len(seq1), len(seq2), len(seq3))

alignments = align.globalms(seq1, seq2, 2, 0, -.5, -.1)
print(format_alignment(*alignments[0]))

alignments = align.globalms(seq1, seq3, 2, 0, -.5, -.1)
print(format_alignment(*alignments[0]))

alignments = align.globalms(seq2, seq3, 2, 0, -.5, -.1)
print(format_alignment(*alignments[0]))

In [ ]:
info, seq1, seq2 = df.iloc[10]

print(info)
print(seq1)
print(seq2)

from pyfaidx import Fasta
genome = Fasta('/home/hxcai/genome/hg19.fa')
seq3 = genome['chr1'][759444-100+2: 759444+100+2].seq.upper()

print(seq3)
print(len(seq1), len(seq2), len(seq3))

alignments = align.globalms(seq1, seq2, 2, 0, -.5, -.1)
print(format_alignment(*alignments[0]))

alignments = align.globalms(seq1, seq3, 2, 0, -.5, -.1)
print(format_alignment(*alignments[0]))

alignments = align.globalms(seq2, seq3, 2, 0, -.5, -.1)
print(format_alignment(*alignments[0]))